# This file is for unifying the coding style for different editors and IDEs.
# More information at http://EditorConfig.org

# Do not check for any .editorconfig files above this directory
root = true

# All files
[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
