===== id
1000

===== Name
Empty Board

===== Description
Chessboard.js initializes to an empty board with no second argument.

===== HTML
<div id="myBoard" style="width: 400px"></div>

===== JS
var board = Chessboard('myBoard')
