=== Name
Empty Board

=== Description
ChessBoard initializes to an empty board with no second argument.

=== HTML
<div id="board" style="width: 400px"></div>

=== JS
var board = ChessBoard('board');
