=== Name
Position Object

=== Description
Pass a <a href="docs#position_object">Position Object</a> as the second argument to initialize the board to a specific position.

=== HTML
<div id="board" style="width: 400px"></div>

=== JS
var position = {
  d6: 'bK',
  d4: 'wP',
  e4: 'wK'
};
var board = ChessBoard('board', position);
