=== Name
Start Position

=== Description
Set the <a href="docs#config:position"><code class="js plain">position</code></a> property to <code class="js string">'start'</code> to initialize the board to the start position.

=== HTML
<div id="board" style="width: 400px"></div>

=== JS
var cfg = {
  position: 'start'
};
var board = ChessBoard('board', cfg);
