===== id
2002

===== Name
Notation

===== Description
Use the <a href="docs.html#config:showNotation"><code class="js plain">showNotation</code></a> property to turn board notation on or off.

===== HTML
<div id="myBoard" style="width: 400px"></div>

===== JS
var config = {
  showNotation: false,
  position: 'start'
}
var board = Chessboard('myBoard', config)
