=== Name
Draggable Snapback

=== Description
Set <a href="docs#config:draggable"><code class="js plain">draggable</code></a> to <code class='js keyword'>true</code> to allow drag and drop of pieces. Pieces will return to their original square when dropped off the board (ie: the default for <a href="docs#config:dropOffBoard"><code class="js plain">dropOffBoard</code></a> is <code class="js string">'snapback'</code>).

=== HTML
<div id="board" style="width: 400px"></div>

=== JS
var cfg = {
  draggable: true,
  dropOffBoard: 'snapback', // this is the default
  position: 'start'
};
var board = ChessBoard('board', cfg);
