=== Name
Piece Theme Function

=== Description
<a href="docs#config:pieceTheme"><code class="js plain">pieceTheme</code></a> can be a function.

=== HTML
<div id="board" style="width: 400px"></div>

=== JS
function pieceTheme(piece) {
  // wikipedia theme for white pieces
  if (piece.search(/w/) !== -1) {
    return 'img/chesspieces/wikipedia/' + piece + '.png';
  }

  // alpha theme for black pieces
  return 'img/chesspieces/alpha/' + piece + '.png';
}

var cfg = {
  pieceTheme: pieceTheme,
  position: 'start'
};
var board = ChessBoard('board', cfg);
