=== Name
Position FEN

=== Description
You can set the <a href="docs#config:position"><code class="js plain">position</code></a> property to a <a href="http://en.wikipedia.org/wiki/Forsyth%E2%80%93Edwards_Notation">FEN</a> string.

=== HTML
<div id="board" style="width: 400px"></div>

=== JS
var cfg = {
  position: 'r1bqkbnr/pppp1ppp/2n5/1B2p3/4P3/5N2/PPPP1PPP/RNBQK2R'
};
var board = ChessBoard('board', cfg);
