=== Name
Position Object

=== Description
You can set the <a href="docs#config:position"><code class="js plain">position</code></a> property with a <a href="docs#position_object">Position Object</a>.

=== HTML
<div id="board" style="width: 400px"></div>

=== JS
var cfg = {
  position: {
    d4: 'wP',
    d6: 'bK',
    e4: 'wK'
  }
};
var board = ChessBoard('board', cfg);
