=== Name
Get Position

=== Description
Use the <a href="docs#methods:position"><code class="js plain">position</code></a> and <a href="docs#methods:fen"><code class="js plain">fen</code></a> methods to retrieve the current position of the board.

=== HTML
<div id="board" style="width: 400px"></div>
<input type="button" id="getPositionBtn" value="Show position in console" />

=== JS
var cfg = {
  draggable: true,
  position: 'start'
};
var board = ChessBoard('board', cfg);

function clickGetPositionBtn() {
  console.log("Current position as an Object:");
  console.log(board.position());

  console.log("Current position as a FEN string:");
  console.log(board.fen());
}

$('#getPositionBtn').on('click', clickGetPositionBtn);
