=== Name
Set Position Instantly

=== Description
Pass <code class="js keyword">false</code> as the second argument to the <a href="docs#methods:start"><code class="js plain">start</code></a> and <a href="docs#methods:position"><code class="js plain">position</code></a> methods to set the board position instantly.

=== HTML
<div id="board" style="width: 400px"></div>
<input type="button" id="setStartBtn" value="Start Position" />
<input type="button" id="setRuyLopezBtn" value="Ruy Lopez" />
<input type="button" id="setRookCheckmateBtn" value="Rook Checkmate" />

=== JS
var board = ChessBoard('board');

$('#setStartBtn').on('click', function() {
  board.start(false);
});

$('#setRuyLopezBtn').on('click', function() {
  var ruyLopez = 'r1bqkbnr/pppp1ppp/2n5/1B2p3/4P3/5N2/PPPP1PPP/RNBQK2R';
  board.position(ruyLopez, false);
});

$('#setRookCheckmateBtn').on('click', function() {
  var rookCheckmate = {
    a4: 'bK',
    c4: 'wK',
    a7: 'wR'
  };
  board.position(rookCheckmate, false);
});
