===== id
3005

===== Name
Orientation

===== Description
Use the <a href="docs.html#methods:orientation"><code class="js plain">orientation</code></a> method to retrieve and set the orientation. Use the <a href="docs.html#methods:flip"><code class="js plain">flip</code></a> method to flip orientation.

===== HTML
<div id="myBoard" style="width: 400px"></div>
<button id="showOrientationBtn">Show orientation in console</button>
<button id="flipOrientationBtn">Flip orientation</button>
<br />
<button id="whiteOrientationBtn">White orientation</button>
<button id="blackOrientationBtn">Black orientation</button>

===== JS
const ruyLopez = 'r1bqkbnr/pppp1ppp/2n5/1B2p3/4P3/5N2/PPPP1PPP/RNBQK2R'
const board = Chessboard('myBoard', ruyLopez)

document.getElementById('showOrientationBtn').onclick = () => console.log('Board orientation is: ' + board.orientation())
document.getElementById('flipOrientationBtn').onclick = () => board.flip()
document.getElementById('whiteOrientationBtn').onclick = () => board.orientation('white')
document.getElementById('blackOrientationBtn').onclick = () => board.orientation('black')
