=== Name
Destroy Board

=== Description
Use the <a href="docs#methods:destroy"><code class="js plain">destroy</code></a> method to kill the board and remove it from the DOM.

=== HTML
<div id="board" style="width: 400px"></div>
<input type="button" id="destroyBtn" value="Destroy Board" />

=== JS
var board = ChessBoard('board', 'start');

$('#destroyBtn').on('click', board.destroy);
