=== Name
Resize

=== Description
Use the <a href="docs#methods:resize"><code class="js plain">resize</code></a> method to recalculate and redraw the board based on the size of it's parent element. See the full effect of this example in a <a href="examples/3007" target="_new">new window</a>.

=== HTML
<div id="board" style="width: 60%"></div>

=== JS
// NOTE: click "View example in new window." to see the full effect of this example
var board = ChessBoard('board', 'start');
$(window).resize(board.resize);
