=== Name
onDragStart

=== Description


=== HTML
<div id="board" style="width: 400px"></div>

=== JS
var cfg = {
  draggable: true,
  position: 'start',
  onDragStart : function(square, piece, position, orientation) {
    console.log("You started dragging a piece!");
    console.log("Square: " + square);
    console.log("Piece: " + piece);
    console.log("Board position: " + ChessBoard.objToFEN(position));
    console.log("Board orientation: " + orientation);
    console.log("----------------------------------------");
  }
};
var board = new ChessBoard('board', cfg);