=== Name
onDragMove

=== Description
The <a href="docs#config:onDragMove"><code class="js plain">onDragMove</code></a> event fires every time a piece changes location.

=== HTML
<div id="board" style="width: 400px"></div>

=== JS
var onDragMove = function(newLocation, oldLocation, source,
                          piece, position, orientation) {
  console.log("New location: " + newLocation);
  console.log("Old location: " + oldLocation);
  console.log("Source: " + source);
  console.log("Piece: " + piece);
  console.log("Position: " + ChessBoard.objToFen(position));
  console.log("Orientation: " + orientation);
  console.log("--------------------");
};

var cfg = {
  draggable: true,
  position: 'start',
  onDragMove: onDragMove,
  sparePieces: true
};
var board = ChessBoard('board', cfg);