===== id
4004

===== Name
onDrop

===== Description
The <a href="docs.html#config:onDrop"><code class="js plain">onDrop</code></a> event fires every time a piece is dropped.

===== HTML
<div id="myBoard" style="width: 400px"></div>

===== JS
function onDrop (source, target, piece, newPos, oldPos, orientation) {
  console.log('Source: ' + source)
  console.log('Target: ' + target)
  console.log('Piece: ' + piece)
  console.log('New position: ' + Chessboard.objToFen(newPos))
  console.log('Old position: ' + Chessboard.objToFen(oldPos))
  console.log('Orientation: ' + orientation)
  console.log('~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~')
}

var config = {
  draggable: true,
  position: 'start',
  onDrop: onDrop,
  sparePieces: true
}
var board = Chessboard('myBoard', config)
