=== Name
onDrop

=== Description
The <a href="docs#config:onDrop"><code class="js plain">onDrop</code></a> event fires every time a piece is dropped.

=== HTML
<div id="board" style="width: 400px"></div>

=== JS
var onDrop = function(source, target, piece, newPos, oldPos, orientation) {
  console.log("Source: " + source);
  console.log("Target: " + target);
  console.log("Piece: " + piece);
  console.log("New position: " + ChessBoard.objToFen(newPos));
  console.log("Old position: " + ChessBoard.objToFen(oldPos));
  console.log("Orientation: " + orientation);
  console.log("--------------------");
};

var cfg = {
  draggable: true,
  position: 'start',
  onDrop: onDrop,
  sparePieces: true
};
var board = ChessBoard('board', cfg);