=== Name
onDrop Snapback

=== Description
If <code class="js string">'snapback'</code> is returned from the <a href="docs#config:onDrop"><code class="js plain">onDrop</code></a> function, the dragged piece will return to it's source square.

=== HTML
<div id="board" style="width: 400px"></div>

=== JS
// snapback black pieces when they are dropped
var onDrop = function(source, target, piece, newPos, oldPos, orientation) {
  if (piece.search(/b/) !== -1) {
    return 'snapback';
  }
};

var cfg = {
  draggable: true,
  position: 'start',
  onDrop: onDrop
};
var board = ChessBoard('board', cfg);
