=== Name
onDrop Snapback

=== Description


=== HTML
<div id="board" style="width: 400px"></div>

=== JS
// snapback black pieces when they are dropped
var onDrop = function(source, target, piece, newPos, oldPos, orientation) {
  if (piece.search(/b/) !== -1) {
    return 'snapback';
  }
};

var cfg = {
  draggable: true,
  position: 'start',
  onDrop: onDrop
};
var board = new ChessBoard('board', cfg);
