=== Name
onDrop Trash

=== Description


=== HTML
<div id="board" style="width: 400px"></div>

=== JS
// trash black pieces when they are dropped
var onDrop = function(target, newPos, oldPos, source, piece, orientation) {
  if (piece.search(/b/) !== -1) {
    return 'trash';
  }
};

var cfg = {
  draggable: true,
  position: 'start',
  onDrop: onDrop
};
var board = new ChessBoard('board', cfg);