<footer>
  <div class="body-width">
    <div class="left-col">
      <p>chessboard.js is released under the <a href="https://github.com/oakmac/chessboardjs/blob/master/LICENSE.md">MIT License</a></p>
      <p>the code can be found on <a href="https://github.com/oakmac/chessboardjs/">GitHub</a></p>
    </div>
    <div class="right-col">
      <a href="index.html">Home</a>
      <a href="examples.html">Examples</a>
      <a href="docs.html">Docs</a>
      <a href="download.html">Download</a>
    </div>
    <div class="clearfix"></div>
  </div>
</footer>
