<footer>
    <div class="body-width-115f6 flex-c31d5">
        <div class="left-3edd4">
            <p>chessboard.js is released under the <a href="https://github.com/oakmac/chessboardjs/blob/master/LICENSE.md">MIT License</a></p>
            <p>the code can be found on <a href="https://github.com/oakmac/chessboardjs/">GitHub</a></p>
        </div>
    </div>
</footer>
