<header>
    <div class="body-width-115f6 flex-c31d5">
        <div class="left-3edd4">
            <a class="homepage-link-98a24" href="index.html">chessboardjs<span class="tld-bd9e6">.com</span></a>
        </div>
        <div class="right-05ad3">
            <a href="index.html">Home</a>
            <a {{#examplesActive}}class="active"{{/examplesActive}} href="examples.html">Examples</a>
            <a {{#docsActive}}class="active"{{/docsActive}} href="docs.html">Docs</a>
            <a {{#downloadActive}}class="active"{{/downloadActive}} href="download.html">Download</a>
        </div>
    </div>
</header>
