<!doctype html>
<html>
{{{head}}}
<body>
{{{header}}}

<main>
<div class="body-width-115f6 page-529b3">





<section>
    <h1 class="title-5ad05">Download</h1>
</section>











<div class="section">
<h1>Downloads</h1>
<a class="button large radius" href="releases/0.3.0/chessboardjs-0.3.0.zip" style="line-height: 22px">
  Download Most Recent Version<br />
  <small style="font-weight: normal; font-size: 12px">v0.3.0</small>
</a>
</div>

<div class="section release">
<h4>v0.3.0 <small>released on 10 Aug 2013</small></h4>
<ul>
  <li><a href="releases/0.3.0/chessboardjs-0.3.0.zip">chessboardjs-0.3.0.zip</a> <small>44.6 KB</small></li>
</ul>
<h6>Changes:</h6>
<ul class="disc">
  <li>Added appearSpeed animation config</li>
  <li>Added onSnapbackEnd event</li>
  <li>Added onMoveEnd event</li>
</ul>
</div>

<div class="section release">
<h4>v0.2.0 <small>released on 05 Aug 2013</small></h4>
<ul>
  <li><a href="releases/0.2.0/chessboardjs-0.2.0.zip">chessboardjs-0.2.0.zip</a> <small>44.6 KB</small></li>
</ul>
<h6>Changes:</h6>
<ul class="disc">
  <li>Added onMouseoverSquare and onMouseoutSquare events</li>
  <li>Added onSnapEnd event</li>
  <li>Added square code as CSS class on the squares</li>
  <li>chess.js integration examples</li>
</ul>
</div>

<div class="section release">
<h4>v0.1.0 <small>released on 21 Jul 2013</small></h4>
<ul>
  <li><a href="releases/0.1.0/chessboard-0.1.0.zip">chessboard-0.1.0.zip</a> <small>44.0 KB</small></li>
</ul>
<h6>Changes:</h6>
<ul class="disc">
  <li>Initial release</li>
</ul>
</div>


<div class="section">
<h4>Development</h4>
<p><a href="https://github.com/oakmac/chessboardjs/">GitHub</a></p>
</div>































</div>
</main>

{{{footer}}}

</body>
</html>
