<!doctype html>
<html>
{{{head}}}
<body>
{{{header}}}

<main>
<div class="body-width-115f6 page-529b3">

<section>
    <h1 class="title-5ad05">Download</h1>

    <section>
        <h2>Latest</h2>
        <a class="blue-button large" href="releases/chessboardjs-1.0.0.zip">Download Latest Version<br /><small>v1.0.0</small></a>
    </section>


    <section>
        <h2>NPM / Yarn Package</h2>
        <p>chessboardjs is on <a href="https://www.npmjs.com/">npm</a> under the name <a href="https://www.npmjs.com/package/@chrisoakman/chessboardjs">@chrisoakman/chessboardjs</a></p>
        <pre class="prettyprint"># using npm
npm install @chrisoakman/chessboardjs</pre>

<pre class="prettyprint"># using yarn
yarn add @chrisoakman/chessboardjs</pre>
    </section>

    <section>
        <h2>Content Delivery Network</h2>
        <p>You can use chessboardjs via the <a href="https://unpkg.com/">unpkg CDN</a> with the following links:
        <pre class="prettyprint">&lt;link rel="stylesheet"
      href="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.css"
      integrity="sha384-q94+BZtLrkL1/ohfjR8c6L+A6qzNH9R2hBLwyoAfu3i/WCvQjzL2RQJ3uNHDISdU"
      crossorigin="anonymous"&gt;</pre>
        <pre class="prettyprint">&lt;script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2"
        crossorigin="anonymous"&gt;&lt;/script&gt;

&lt;script src="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.js"
        integrity="sha384-8Vi8VHwn3vjQ9eUHUxex3JSN/NFqUg3QbPyX8kWyb93+8AC/pPWTzj+nHtbC5bxD"
        crossorigin="anonymous"&gt;&lt;/script&gt;</pre>
        <p style="line-height: 1.6rem;">Please note that <a href="https://jquery.com/">jQuery</a> is a required dependency of chessboard.js and must be loaded on your webpage before the <code>chessboard-1.0.0.min.js</code> file.</p>
    </section>

    <section>
        <h2>Development</h2>
        <p><a href="https://github.com/oakmac/chessboardjs/">GitHub</a></p>
    </section>

</section>

</div>
</main>

{{{footer}}}

<script src="js/prettify.min.js"></script>
<script>
prettyPrint()
</script>
</body>
</html>
