<!doctype html>
<html>
{{{head}}}
<body>
{{{header}}}

<main>
<div class="body-width-115f6 page-529b3">

<section>
    <h1 class="title-5ad05">Download</h1>

    <section>
        <h2>Latest</h2>
        <a class="blue-button large" href="releases/0.3.0/chessboardjs-0.3.0.zip">Download Latest Version<br /><small>v0.3.0</small></a>
    </section>


    <section>
        <h2>Development</h2>
        <p><a href="https://github.com/oakmac/chessboardjs/">GitHub</a></p>
    </section>

    <!-- TODO: add npm and CDN links on this page -->

</section>

</div>
</main>

{{{footer}}}

</body>
</html>
