<!doctype html>
<html>
{{{head}}}
<body>
{{{header}}}

<main>
    <div class="body-width-115f6 flex-c31d5 examples-c30bc">
        <nav class="example-nav-0e953" id="examplesNav">{{{nav}}}</nav>
        <div class="examples-body-9af4d" id="exampleBodyContainer"></div>
    </div>
</main>

{{{footer}}}

<script>
{{{examplesJavaScript}}}
</script>
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/prettify.min.js"></script>
<script src="js/chessboard.js"></script>
<script src="js/chess-0.10.2.min.js"></script>
<script src="js/examples.js"></script>
</body>
</html>
