<!doctype html>
<html>
{{{head}}}
<body class="homepage">

<div id="heroWrapper">
    <div id="hero" class="body-width">
        <img src="img/chesspieces/wikipedia/bK.png" alt="Black King" />
        <h1>chessboard.js</h1>
        <h3>The easiest way to embed a chess board on your site.</h3>
        <a href="releases/0.3.0/chessboardjs-0.3.0.zip">Download v0.3.0</a>
    </div>
</div><!-- end #heroWrapper -->

<div class="nav-bar body-width hover-effect" id="start">
    <a href="#start"><span class="piece">&#9823;</span> Getting Started</a>
    <a href="examples.html"><span class="piece">&#9819;</span> Examples</a>
    <a href="docs.html"><span class="piece">&#9820;</span> Documentation</a>
    <a href="download.html"><span class="piece">&#9822;</span> Download</a>
    <div class="clearfix"></div>
</div>

<div class="vertical-bar"></div>

<div class="body-width">

<div class="col">
    <h2>As easy as two lines.</h2>
    <h4>HTML</h4>
    <pre class="prettyprint">&lt;div id="board1" style="width: 400px"&gt;&lt;/div&gt;</pre>
    <h4>JavaScript</h4>
    <pre class="prettyprint">var board1 = Chessboard('board1', 'start')</pre>
</div>
<div class="col">
    <div id="board1" style="width: 400px"></div>
</div>
<div class="clearfix"></div>

<div class="col">
  <h2>Customize with a powerful API.</h2>
  <h4>HTML</h4>
<pre class="prettyprint">
&lt;div id="board2" style="width: 400px"&gt;&lt;/div&gt;
&lt;button id="startBtn"&gt;Start&lt;/button&gt;
&lt;button id="clearBtn"&gt;Clear&lt;/button&gt;
</pre>
  <h4>JavaScript</h4>
<pre class="prettyprint">
var board2 = Chessboard('board2', {
  draggable: true,
  dropOffBoard: 'trash',
  sparePieces: true
})
$('#startBtn').on('click', board2.start)
$('#clearBtn').on('click', board2.clear)
</pre>
</div>
<div class="col">
  <div id="board2" style="width: 400px"></div>
  <input type="button" id="startBtn" value="Start" />
  <input type="button" id="clearBtn" value="Clear" />
</div>
<div class="clearfix"></div>

</div><!-- end .body-width -->

{{{footer}}}

<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/prettify.min.js"></script>
<script src="js/chessboard.js"></script>
<script>
;(function () {
  function isTouchDevice () {
    return ('ontouchstart' in document.documentElement)
  }

  function init () {
    prettyPrint()

    // example 1
    var board1 = Chessboard('board1', 'start')

    // example 2
    var board2 = Chessboard('board2', {
      draggable: true,
      dropOffBoard: 'trash',
      sparePieces: true
    })
    $('#startBtn').on('click', board2.start)
    $('#clearBtn').on('click', board2.clear)

    // prevent "browser drag" of the black king
    $('#hero img').on('mousedown', function (evt) { evt.preventDefault() })

    // prevent hover problems on touch devices
    if (isTouchDevice()) {
      $('#start').removeClass('hover-effect')
    }
  }

  $(document).ready(init)
})()
</script>
</body>
</html>
