<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>chessboardjs Example #{{{id}}} - {{{name}}}</title>
  <base href="../" />
  <link rel="stylesheet" href="css/chessboard.css" />
</head>
<body>
<p><a href="examples#{{{id}}}">&larr; Back to all examples.</a></p>

<p>{{{description}}}</p>

<!--- Begin Example HTML ------------------------------------------------------>
{{{html}}}
<!--- End Example HTML -------------------------------------------------------->

<script src="js/jquery-3.4.1.min.js"></script>
<script src="js/chessboard.js"></script>
<script>
// --- Begin Example JS --------------------------------------------------------
{{{js}}}
// --- End Example JS ----------------------------------------------------------
</script>
</body>
</html>
