<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>chessboardjs Example #{{{id}}} - {{{name}}}</title>
  <base href="../" />
  <link rel="stylesheet" href="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.css" integrity="sha384-q94+BZtLrkL1/ohfjR8c6L+A6qzNH9R2hBLwyoAfu3i/WCvQjzL2RQJ3uNHDISdU" crossorigin="anonymous">
  {{#css}}
  <style type="text/css">
  {{{css}}}
  </style>
  {{/css}}
</head>
<body>
<p><a href="examples#{{{id}}}">&larr; Back to all examples.</a></p>

<p>{{{description}}}</p>

<!--- Begin Example HTML ------------------------------------------------------>
{{{html}}}
<!--- End Example HTML -------------------------------------------------------->

<script src="js/jquery-3.4.1.min.js"></script>
{{{chessboardJsScript}}}
{{#includeChessJS}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.2/chess.js" integrity="sha384-s3XgLpvmHyscVpijnseAmye819Ee3yaGa8NxstkJVyA6nuDFjt59u1QvuEl/mecz" crossorigin="anonymous"></script>
{{/includeChessJS}}
<script>
// --- Begin Example JS --------------------------------------------------------
{{{js}}}
// --- End Example JS ----------------------------------------------------------
</script>
</body>
</html>
